<div>
    <game-map ng-controller="gameMapController">
        <canvas id="gameMap" width="{{gm.width}}" height="{{gm.height}}">
        There be dragons
    </canvas>
    </game-map>
    <character-menu>
        <a class="btn btn-default" title="Menu"
                href="#/menu">
            <i class="fa fa-home"></i>
        </a>
        <button class="btn btn-default" title="Inventory">
            <i class="fa fa-briefcase"></i>
        </button>
        <button class="btn btn-default" title="Character">
            <i class="fa fa-user"></i>
        </button>
        <button class="btn btn-default" title="Skills">
            <i class="fa fa-sitemap"></i>
        </button>
        <button class="btn btn-default" title="Memory">
            <i class="fa fa-database"></i>
        </button>
            <button class="btn btn-default" title="Minimap"
                ng-click="display.minimap = !display.minimap">
            <i class="fa fa-globe"></i>
        </button>
        <hr />
        <notifications>
        <button ng-repeat="notice in notifications" class="btn btn-default" title="{{notice.title}}">
            <i class="fa" ng-class="notice.icon"></i>
        </button>
        </notifications>
    </character-menu>
    <minimap ng-show="display.minimap">
        <div style="position:absolute;top:{{player.pos.y/10}}%;left:{{player.pos.x/10}}%;" 
             class="playerToken"></div>
    </minimap>
    <action-menu>
        <h4>In Hand</h4>
        <button class="btn btn-default" title="{{getTool(player.worn.holdLeft).label || 'Empty'}}">
            <i class="fa {{getTool(player.worn.holdLeft).icon || 'fa-square-o'}}"></i>
        </button>
                <button class="btn btn-default" title="{{getTool(player.worn.holdRight).label || 'Empty'}}">
                    <i class="fa {{getTool(player.worn.holdRight).icon || 'fa-square-o'}}"></i>
        </button>
        <h4>Resources in Reach</h4>
        <button class="btn btn-default" ng-repeat="resource in getEnts(display.resources)" title="{{resource.label}}">
            <i class="fa fa-{{resource.icon}}"></i>
        </button>
        <h4>Actions</h4>
        <button class="btn btn-default" title="Fight"
                    ng-click="">
            <i class="fa fa-gavel"></i>
        </button>
        <button class="btn btn-default" title="Inspect"
                    ng-click="">
            <i class="fa fa-search"></i>
        </button>
        <button class="btn btn-default" title="Experiment"
                    ng-click="">
            <i class="fa fa-flask"></i>
        </button>
        <button class="btn btn-default" title="Eat"
                    ng-click="">
            <i class="fa fa-cutlery"></i>
        </button>
    </action-menu>
    <queue>
        time Queue
    </queue>
</div>