<div class="text-center">
    <h1 class="logo col-xs-12">Trade</h1>
    <div class="col-xs-12 col-lg-6 col-lg-offset-3">
        <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">Select a Player</h2>
        </div>
    <ul class="list-unstyled text-left panel-body">
        <li ng-repeat="(id,p) in players">
            <button class="btn btn-default col-xs-10 col-sm-offset-1"
                    ng-click="selectPlayer(id)">
                <i class="fa fa-user"></i>
                {{p.label}} (born {{age(p.creation)}} ago)
            </button>
            <button class="btn btn-danger pull-right">
            <i class="fa fa-trash " ng-click="deletePlayer(id)"></i>
            </button>
        </li>
    </ul>
        </div>
    </div>
    <div class="col-xs-12">
<button ng-click="addPlayer()" class="btn btn-primary btn-lg clearfix">+<i class="fa fa-user"></i></button>
<button ng-click="resetEntities()" class="btn btn-primary btn-lg clearfix">Reset {{getEntities().length}} Entities</button>
    </div>
    <div ng-show="player" class="col-xs-12 col-lg-6 col-lg-offset-3">
        <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">{{player.label}}</h2>
        </div>       
            <div class="panel-body">
                <a class="btn btn-default" href="#/hud">Game</a>
                <pre class="pre-scrollable">
                    {{player|json}}
                </pre>
            </div>
        </div>
    </div>
</div>